<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BÀI THƠ: CHỈ CÓ THỂ LÀ MẸ</h1>
    <h2>Thơ: Đặng Minh Mai</h2>
    <p>Nắng dần tắt trên con đường nhỏ</p>
    <p>Dáng mẹ gầy giẹo giọ liêu xiêu</p>
    <p>Mẹ về để nấu cơm chiều</p>
    <p>Bữa cơm đạm bạc thương yêu ấm lòng</p>
    <p>Cả đời mẹ long đong vất vả</p>
    <p>Cho chồng con quên cả thân mình</p>
    <p>Một đời mẹ đã hy sinh</p>
    <p>Tuổi xuân phai nhạt nghĩa tình đượm sâu</p>
    <p>Mưa và nắng nhuộm màu tóc trắng</p>
    <p>Bụi gian nan đọng lắng nếp nhăn</p>
    <p>Rụng rồi thương lắm hàm răng</p>
    <p>Lưng còng chân yếu ánh trăng cuối trời</p>
    <p>Tình của mẹ sáng ngời dương thế</p>
    <p>Lo cho con tấm bé đến già</p>
    <p>Nghĩa tình son sắt cùng cha</p>
    <p>Giản đơn dung dị mẹ là mẹ thôi</p>
    <p>Con đi khắp chân trời góc bể</p>
    <p>Ân tình nào sánh xuể mẹ yêu</p>
    <p>Nghĩa dày độ lượng bao nhiêu</p>
    <p>Có trong lòng mẹ sớm chiều bao dung.</p>
</body>
</html>